In [1]:
import pandas as pd

In [2]:
ori_path = '/opt/ml/code/output/output.csv'

In [13]:
df = pd.read_csv(ori_path)
df

       Unnamed: 0                                       ImageID  ans
0               0  cbc5c6e168e63498590db46022617123f1fe1268.jpg   13
1               1  0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    1
2               2  b549040c49190cedc41327748aeb197c1670f14d.jpg   13
3               3  4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   13
4               4  248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg   12
...           ...                                           ...  ...
12595       12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    2
12596       12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    4
12597       12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg    9
12598       12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    1
12599       12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg    7

[12600 rows x 3 columns]

In [14]:
new_df = pd.DataFrame(None, columns = ['ImageID', 'mask', 'gender', 'age'])

In [15]:
for i in range(len(df)):
    img_id = df.iloc[i]['ImageID']
    mask = (df.iloc[i]['ans'] // 6)
    gender = (df.iloc[i]['ans'] // 3 ) % 2
    age = df.iloc[i]['ans'] % 3
    data = {
            'ImageID': img_id,
            'mask': mask,
            'gender': gender,
            'age': age
        }
    new_df = new_df.append(data, ignore_index=True)

In [16]:
new_df['age'].max()

2

In [17]:
new_df.to_csv('/opt/ml/input/data/eval/output_maskgenderage.csv')